.HTML {
  background-color: #d84a24;
}

.CSS {
  background-color: #0365b7;
}

.Javascript {
  background-color: #ebd41b;
  color: black;
}

.ReactJS {
  background-color: #5acbec;
  color: black;
}

.Tailwind {
  background-color: #34b3ec;
}

.Bootstrap {
  background-color: #7a10ed;
}

.GSAP {
  background-color: #81c405;
}

.JQuery {
  background-color: #0962a3;
}

.NodeJS {
  background-color: #679f63;
}

.MongoDB {
  background-color: #00ed64;
  color: black;
}

.API {
  background-color: #b44e07;
}

.NextJS {
  background-color: #000000;
}

.Typescript {
  background-color: #007acc;
}

.PostgreSQL {
  background-color: #336791;
}

.Expo {
  background-color: #000020;
}

.Paymongo {
  background-color: #4dff59;
  color: black;
}
